<div class="background">
    <div class="navbar">
        <div class="Nleft">
            <div class="about">Über Google</div>
            <div class="store">Store</div>
        </div>
        <div class="Nright">
            <div class="gmail">Gmail</div>
            <div class="images">Bilder</div>
            <div class="apps-ico">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 0 1 6 3.75h2.25A2.25 2.25 0 0 1 10.5 6v2.25a2.25 2.25 0 0 1-2.25 2.25H6a2.25 2.25 0 0 1-2.25-2.25V6ZM3.75 15.75A2.25 2.25 0 0 1 6 13.5h2.25a2.25 2.25 0 0 1 2.25 2.25V18a2.25 2.25 0 0 1-2.25 2.25H6A2.25 2.25 0 0 1 3.75 18v-2.25ZM13.5 6a2.25 2.25 0 0 1 2.25-2.25H18A2.25 2.25 0 0 1 20.25 6v2.25A2.25 2.25 0 0 1 18 10.5h-2.25a2.25 2.25 0 0 1-2.25-2.25V6ZM13.5 15.75a2.25 2.25 0 0 1 2.25-2.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-2.25A2.25 2.25 0 0 1 13.5 18v-2.25Z" />
                </svg>
            </div>
            <div class="login"><div>Anmelden</div></div>
        </div>
    </div>

    <div class="footer">
        <div class="country">
            <div class="country-text">Deutschland</div>
        </div>
        <div class="footer_U">
            <div class="Fleft">
                <div class="ads">Werbeprogramme</div>
                <div class="buisiness">Unternehmen</div>
                <div class="howSearch">Wie funktioniert die Google Suche?</div>
            </div>
            <div class="Fmiddle">
                <div class="ecological">🍃 Drei Jahrzehnte Klimaschutz: Jede Entscheidung zählt</div>
            </div>
            <div class="Fright">
                <div class="dsgvo">Datenschutzerklärung</div>
                <div class="terms">Nutzungsbedingungen</div>
                <div class="settings">Einstellungen</div>
            </div>
        </div>
    </div>
</div>
