.background {
    background: fixed;
    background-color: rgb(32, 33, 36);
    width: 100dvw;
    height: 100dvh;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: rgb(232, 232, 232);
    display: flex;
    flex-shrink: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 60px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    unicode-bidi: isolate;
}

.Nleft, .Nright {
    display: flex;
    align-items: center;
}
.Nleft div {
    margin-left: 20px;
    color: rgb(232, 232, 232);
    cursor: pointer;
}
.Nleft div:hover {
    text-decoration: underline;
}

.Nright div {
    margin-right: 20px;
    cursor: pointer;
}
.gmail:hover {
    text-decoration: underline;
}
.images:hover {
    text-decoration: underline;
}

.apps-ico svg {
    color: rgb(232, 232, 232);
    width: 20px;
}

.login {
    display: flex;
    background-color: rgb(194, 231, 255);
    color: black;
    min-height: 40px;
    min-width: 80px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.login div {
    margin-right: 0;
}

